@font-face {
    font-family: "idiot font";
    src: url(../website-fonts/FontFile.woff2);
}
.title-font{
    font-family: "idiot font";
    font-weight: bold;
    
}

.mywrite-font{
 
   font-family: 'Anonymous Pro', monospace;
   color:#8F989F;
}
.title-fonts{
    font-family: 'Baskervville', serif;
    font-weight: bold;
}
.navbar-transparent{
    background-color: transparent;
}
.my-search-text{
 
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    padding-left: 5px;
     border-radius: 5px ;
      color:#fff;
    border:1px solid #fff;
    outline: none;
     align-items: flex-end;
    
}
.slide-text{
    font-size: 60px;
}
.my-toggle-button{
   background-color: #fff;
   color:#333;
   border-radius: 50%;

}
.carousel-justiment{
    height: 50%;
    margin-bottom: 2rem;

}
.big-margin-top
{
   margin-top: 10rem;
}
.my-favorate-color, .my-favorate-color:hover{
    
    text-decoration: none;
}
.my-favorate-color{
    color:#333;
}
.relative{
    position: relative;
}
.my-favorate-color:hover{
 color:#ffc107;
}
.my-favorate-text{
    color:#ffc107;
}
.img-absolute {
    position: absolute;
    max-width: 13rem;
    top: 75%;
    left: 32%;
}
.background-dotted{
    background-image: url(../img/dotted.jpg);
    background-repeat: no-repeat;
    background-position-x: 0;
    background-position-y: 0;
}
.img-max-hight{
    height: 60vh;
}
.small-img-rounded
{
    width: 50px;
    border-radius: 50%;

}
.align-top{
    vertical-align: top;
}
.backgroundcolor-container{
    background-color: #f8f9fa;
}
.icon-info{
    color:#ffc107;
    font-size: 50px;
    padding: 6px 0px;
}
.backgound-section-pre
{
    background-color: #FFC107;
    color:#fff;
}
.background-section-last{
    background-color:#FFC809;
}
.transparent-button-white{
    background-color: transparent;
    border: 2px solid #fff;
    text-align: center;
    width: 100%;
    height: 45px;
    color:#fff;
    margin-bottom: 2vh;
    
}
.transparent-button-white:hover{
    background-color: #fff;
    color:#000;
}
.big-padding{
    padding:100px  0px;

}
.custome-ul 
{
  list-style: none;
  padding: 0;
    
}
.custome-ul  li{
    margin: 5px 0;
}
.custome-ul  li a
{
    color:#000;
    text-decoration: underline;

}
.custome-ul  li a:hover
{
   
    text-decoration: none;

}
.transparent-button-black{
    
    background-color: transparent;
    border: 2px solid #000;
    font-weight: bold;
    width: 25%;
    height: 100%;
    padding: 10px;
}
.transparent-button-black:hover{
    background-color: #333;
    color:#fff;
}


